{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-crm.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16">

  <div>
    <h1>Contact management that <span class="text-[color:var(--light-yellow)]">actually makes sense</span></h1>
    <h2>CRM for Small Businesses</h2>

    {{ buyButton.button('Buy a CRM', 'text-[color:var(--dark-copy)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-blue)]', 'hover:bg-[color:var(--dark-purple)]') }}

    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem(title='Contact Management', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Deal Pipeline', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Email Campaigns', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Tasks & Activities', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Team Collaboration', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Simple Monthly Pricing', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
    </ul>

  </div>

  {% include "./rocket.html" %}

</div>
