{% import "./checklist-item.html" as checkList with context %}

<div class="md:grid md:grid-cols-12 md:gap-8 mt-8">
  
  <div class="md:col-span-8">
    <h3>Why Small Businesses Need Managed Website Services</h3>

    <p class="mb-4">Running a business is already a full-time job. Managing a website shouldn't be another one. That's where I come in.</p>
    <p class="mb-4">I offer fully managed website services so you can spend less time fixing tech issues and more time doing what you do best: serving your customers and growing your business.</p>
        
    <h3>Always On. Always Up-to-Date</h3>
    <p class="mb-4">No more worrying about slow load times, security gaps, or outdated content. I keep your site running smoothly with regular updates, performance checks, and SEO monitoring, all handled for you every month.</p>

    <h3>Predictable Pricing. No Surprises</h3>
    <p class="mb-4">Hiring freelancers or managing it all yourself can be expensive and unreliable. With a simple monthly plan, you get expert support, ongoing care, and peace of mind without the hassle.</p>

  </div>
  
  <div class="md:col-span-4">
    <h3>Ideal Business Categories for Monthly website management</h3>
    <ul class="grid grid-cols-2 md:block">
      {{ checkList.checkListItem(title='Yoga Teacher', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-yoga-teachers-paid-monthly/') }}
      {{ checkList.checkListItem(title='Chiropodist', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-chiropodists-paid-monthly/') }}
      {{ checkList.checkListItem(title='Handyman', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-handymen-paid-monthly/') }}
      {{ checkList.checkListItem(title='Landscape Gardener', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-landscape-gardeners-paid-monthly/') }}
      {{ checkList.checkListItem(title='Wedding Planner', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-wedding-planners-paid-monthly/') }}
      {{ checkList.checkListItem(title='Personal Trainer', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-personal-trainers-paid-monthly/') }}
      {{ checkList.checkListItem(title='Nursery', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-nursery-managers-paid-monthly/') }}
      {{ checkList.checkListItem(title='Personal Tutor', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-personal-tutors-paid-monthly/') }}
      {{ checkList.checkListItem(title='Coaches', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-coaches-paid-monthly/') }}
      {{ checkList.checkListItem(title='Dentist', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-dentists-paid-monthly/') }}
      {{ checkList.checkListItem(title='And many more!', classes='text-[color:var(--dark-purple)] mb-3', textColour='dark-copy', destination='/managed-websites-for-small-business-paid-monthly/') }}
    </ul>

  </div>

  
</div>

