@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root { 
  --light-yellow: #fde350;
  --dark-yellow: #FFD700;
  --light-purple: #cd9bff;
  --dark-purple: #9357cf;
  --light-blue: #b7c4e6;
  --dark-blue: #1D4ED8;
  --teal: #018579;
  --light-gray: #9CA3AF;
  --very-light-gray: #f0f2f2;
  --dark-gray: #5f6571;
  --dark-copy: #333333;
  --white: #FFFFFF;
}

body {
  @apply text-white;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  @apply text-4xl tracking-tighter lg:text-5xl xl:text-6xl mb-5;
}

h1, h2, h3, h4 {
  @apply tracking-tighter;

  font-weight: 700;
}

h2 {
  @apply text-2xl lg:text-4xl mb-4;
}

h3, h4 {
  @apply text-xl lg:text-2xl mb-4;
}

.menu-styles {
  @apply absolute left-0 top-20 border-b border-b-white pb-6 shadow-xl;
}

.dark-copy {
  color: var(--dark-copy);
}

.subtle-text-on-dark-background {
  color: var(--light-gray);
}

.subtle-text-on-light-background {
  color: var(--dark-gray);
}

.container {
  @apply p-4 sm:p-5 md:p-6;
}

.container--large {
  @apply py-9 sm:py-10 md:py-28;
}

.anchor-pop {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--dark-purple)];
}

.anchor-highlight {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--dark-yellow)];
}

.select-box {
  @apply text-[color:var(--dark-copy)];

  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75em .75em;
  padding-right: 2.5rem;
}

.select-box option {
  @apply text-[color:var(--dark-copy)];
}

.select-box option[value=""], .select-box:invalid {
  @apply text-gray-400;
}

/*
  https://css-generators.com/wavy-shapes/
*/
.section-divider-top {
  --mask:
  radial-gradient(13.79px at 50% 19.5px,#000 99%,#0000 101%) calc(50% - 20px) 0/40px 100%,
  radial-gradient(13.79px at 50% -9.5px,#0000 99%,#000 101%) 50% 10px/40px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

/*
  Slider
*/
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: initial;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
