{% macro schema() %}

  <script type="application/ld+json">

  {% if seoSchemaPageType == 'Organization' %}

    {# Organisation JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Kabooly",
      "image": "{{ env.site }}/android-chrome-512x512.png",
      "@id": "{{ env.site }}/android-chrome-512x512.png",
      "url": "{{ env.site }}",
      "telephone": "{{ settings.phoneNumber }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ settings.addressLineOne | safe }}",
        "addressLocality": "{{ settings.addressLineThree | safe }}",
        "addressRegion": "{{ settings.city | safe }}",
        "postalCode": "{{ settings.postCode | safe }}",
        "addressCountry": "{{ settings.country | safe }}"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 51.4139892,
        "longitude": -0.303699
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "09:00",
        "closes": "17:00"
      } 
    }

  {% elseif seoSchemaPageType == 'ContactPage' %}

    {# ContactPage JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "ContactPage",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ env.site }}/contact/"
      },
      "publisher": {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Kabooly",
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "@id": "{{ env.site }}/android-chrome-512x512.png",
        "url": "{{ env.site }}",
        "telephone": "{{ settings.phoneNumber }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }}",
          "addressLocality": "{{ settings.addressLineThree | safe }}",
          "addressRegion": "{{ settings.city | safe }}",
          "postalCode": "{{ settings.postCode | safe }}",
          "addressCountry": "{{ settings.country | safe }}"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 51.4139892,
          "longitude": -0.303699
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "17:00"
        } 
      }
    }

  {% elseif seoSchemaPageType == 'FAQPage' %}

    {# FAQPage JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{% if faqsData.faqs %}{% for faqsDataItem in faqsData.faqs %}
        {
          "@type": "Question",
          "name": "{{ faqsDataItem.question | safe }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>{{ faqsDataItem.answer | safe }}</p>"
          }
        }{{ "" if loop.last else "," }}{% endfor %}{% endif %}
      ],
      "publisher": {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Kabooly",
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "@id": "{{ env.site }}/android-chrome-512x512.png",
        "url": "{{ env.site }}",
        "telephone": "{{ settings.phoneNumber }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }}",
          "addressLocality": "{{ settings.addressLineThree | safe }}",
          "addressRegion": "{{ settings.city | safe }}",
          "postalCode": "{{ settings.postCode | safe }}",
          "addressCountry": "{{ settings.country | safe }}"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 51.4139892,
          "longitude": -0.303699
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "17:00"
        } 
      }
    }

  {% else %}

    {# WebSite JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Kabooly",
      "image": "{{ env.site }}/android-chrome-512x512.png",
      "@id": "{{ env.site }}/android-chrome-512x512.png",
      "url": "{{ env.site }}",
      "telephone": "{{ settings.phoneNumber }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ settings.addressLineOne | safe }}",
        "addressLocality": "{{ settings.addressLineThree | safe }}",
        "addressRegion": "{{ settings.city | safe }}",
        "postalCode": "{{ settings.postCode | safe }}",
        "addressCountry": "{{ settings.country | safe }}"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 51.4139892,
        "longitude": -0.303699
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "09:00",
        "closes": "17:00"
      } 
    }

  {% endif %}

</script>

{% endmacro %}
